@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans') url('/fonts/open-sans-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
